body {
  margin: 0;
}

.game-object {
  position: absolute;
}

.test-object {
  background-color: #373737;
  opacity: 0.1;
  color: white;
  text-align: center;
  width: 20px;
  height: 20px;
}

#game {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
